<header>
  <div class="header-menu p-d-flex">
    <div class="info-header">
      <h4 style="margin-left: 35px;">Bán hàng</h4>
    </div>
    <div class="search-header">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" pInputText placeholder="Tìm kiếm nhanh menu">         
      </span>
    </div>
    <hr style="height: 30px;" class="p-mt-3 p-ml-3 p-mr-3">
    <div class="account-search p-mt-2">
      <p>123456 - Nguyễn Anh Vũ</p>
    </div>
  </div>
</header>
<body>
  <div class="tieu-de p-d-flex">
    <h3 style="margin-left: 35px;">Bán hàng tại siêu thị</h3>
    <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
  </div>  
  <section id="formBanHang">
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-9">
        <div class="p-fluid p-formgrid p-grid">
          <div class="p-field p-col-12 p-sm-6 p-md-4 p-lg-4 p-xl-4">
            <label for="">Thành viên <span style="color: red;">*</span></label>
            <input type="text" pInputText>
          </div>
          <div class="p-field p-col-12 p-sm-6 p-md-4 p-lg-4 p-xl-4">
            <label for=""><a href="#" (click)="showDialogKH()">Khách hàng:</a></label>
            <input type="text" pInputText>
          </div>
          <div class="p-field p-col-12 p-sm-6 p-md-4 p-lg-4 p-xl-4">
            <label for="">Điện thoại:</label>
            <input type="tel" pInputText>
          </div>
          <div class="p-field p-col-12 p-sm-6 p-md-4 p-lg-4 p-xl-4">
            <label for="">Tỉnh/ Thành phố <span style="color: red;">*</span></label>
            <p-dropdown [options]="cities" optionLabel="name" placeholder=""></p-dropdown>
          </div>  
          <div class="p-field p-col-12 p-sm-6 p-md-4 p-lg-4 p-xl-4">
            <label for="">Quận/ Huyện <span style="color: red;">*</span></label>
            <p-dropdown [options]="district" optionLabel="name" placeholder=""></p-dropdown>
            <!-- <input type="text" pInputText>   -->
          </div>
          <div class="p-field p-col-12 p-sm-6 p-md-4 p-lg-4 p-xl-4">
            <label for="">Phường/ Xã <span style="color: red;">*</span></label>
            <p-dropdown [options]="phuongXa" optionLabel="name" placeholder=""></p-dropdown>
          </div>
          <div class="p-field p-col-12 p-sm-6 p-md-4 p-lg-4 p-xl-4">
            <label for="">Địa chỉ liên hệ <span style="color: red;">*</span></label>
            <input type="text" pInputText>
          </div>
          <div class="p-field p-col-12 p-sm-6 p-md-4 p-lg-4 p-xl-4">
            <label for="">Mã số thuế</label>
            <input type="number" pInputText>
          </div>
          <div class="p-field p-col-12 p-sm-6 p-md-4 p-lg-4 p-xl-4">
            <label for="">Nhân viên bán <span style="color: red;">*</span></label>
            <span class="p-input-icon-right">
              <input type="text" pInputText style="width: 30%;">
              <input type="text" pInputText style="width: 70%;">
              <i class="pi pi-search" (click)="showMaximizableDialog1()"></i>
            </span>
          </div>
          <div class="p-field p-col-12 p-sm-6 p-md-4 p-lg-4 p-xl-4">
            <label for="">Barcode</label>
            <span class="p-input-icon-right" (click)="showMaximizableDialog()">
              <i class="pi pi-search"></i>
              <input type="text" pInputText >
            </span>
          </div>
          <div class="p-field p-col-12 p-sm-6 p-md-4 p-lg-4 p-xl-4">
            <div class="p-grid">
              <div class="p-field p-col-6">
                <button pButton type="button" icon="pi pi-microsoft" iconPos="left" label="Khuyến mãi combo"></button>
              </div>
              <div class="p-field p-col-6"> 
                <button pButton type="button" icon="pi pi-microsoft" iconPos="left" label="Lấy khuyến mãi" (click)="showDialogKMai()"></button>
              </div>
            </div>
          </div>
          <div class="p-field p-col-12 p-sm-6 p-md-4 p-lg-4 p-xl-4">
            <label for="">Coupon</label>
            <input type="text" pInputText>
          </div>
        </div>
      </div>
      <div class="p-field p-col-3">
        <div class="p-field p-col-12">
          <label for="">Kho xuất</label>
          <input type="text" pInputText disabled="">
        </div>
        <div class="p-field p-col-12">
          <label for="">Nội dung</label>
          <textarea [rows]="8" [cols]="1" pInputTextarea></textarea>
        </div>
      </div>
    </div>
  </section>
  
  <section id="chiTienSP">
    <p-table [columns]="cols" [value]="products" styleClass="p-datatable-gridlines" [scrollable]="true" [style]="{width:'100%'}" scrollHeight="600px">
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col style="width:100px;">
          <col style="width:150px">
          <col style="width:150px">
          <col style="width:250px">
          <col style="width:200px">
          <col style="width:100px">
          <col style="width:150px">
          <col style="width:200px">
          <col style="width:150px">
          <col style="width:100px">
          <col style="width:200px">
          <col style="width:250px">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns">
            {{rowData[col.field]}}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </section>

  <section id="bangFooter">
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-col-2"></div>
      <div class="p-col-5">
        <div class="p-grid">
          <div class="p-col-3"></div>
          <div class="p-field p-col-9">
            <!-- <p-inputNumber mode="currency" currency="USD" locale="en-US" placeholder="Tiền mặt"></p-inputNumber>-->
            <p-dropdown [options]="hinhThucTT" optionLabel="name"></p-dropdown>
          </div>
          <div class="p-col-3"></div>
          <div class="p-field p-col-3 p-mt-2">
            <label for="">Tổng số lượng</label>
          </div>
          <div class="p-field p-col-6">
            <p-inputNumber mode="decimal" placeholder="0"></p-inputNumber>
          </div>
          <div class="p-col-3"></div>
          <div class="p-field p-col-3 p-mt-2">
            <label for="">Thành tiền</label>
          </div>
          <div class="p-field p-col-6">
            <p-inputNumber mode="decimal" placeholder="0"></p-inputNumber>
          </div>
          <div class="p-field p-col-3">
            <button pButton type="button" label="Giảm giá" style="width:80%;font-weight: bold;" (click)="showDialogGiamGia()"></button>
          </div>
          <div class="p-field p-col-3">
            <!-- <label for="">Chọn lý do giảm</label> -->
            <p-dropdown [options]="lyDoGiamGia" optionLabel="name"></p-dropdown>
          </div>
          <div class="p-field p-col-6">
            <p-inputNumber mode="decimal" placeholder="0"></p-inputNumber>
          </div>
          <div class="p-col-3"></div>
          <div class="p-field p-col-3">
            <label for="" style="color: red;" class="p-mt-2">Phải thanh toán</label>
          </div>
          <div class="p-field p-col-6">
            <p-inputNumber mode="decimal" placeholder="0"></p-inputNumber>
          </div>
        </div>
      </div>
      <div class="p-col-1"></div>
      <div class="p-col-3">
        <div class="p-grid">
          <div class="p-field p-col-5 p-mt-2">
            <label for=""><a href="#" (click)="showDialogTien()">Tiền thanh toán</a></label>
          </div>
          <div class="p-field p-col-7">
            <p-inputNumber mode="currency" currency="USD" locale="en-US" placeholder=""></p-inputNumber>
          </div>
          <div class="p-field p-col-5 p-mt-2">
            <label for="">Còn nợ lại</label>
          </div>
          <div class="p-field p-col-7">
            <p-inputNumber mode="currency" currency="USD" locale="en-US" placeholder="0"></p-inputNumber>
          </div>
          <div class="p-field p-col-5 p-mt-2">
            <label for="">Tiền thừa</label>
          </div>
          <div class="p-field p-col-7">
            <p-inputNumber mode="currency" currency="USD" locale="en-US" placeholder="0"></p-inputNumber>
          </div>
          <div class="p-field p-col-4">
              <button pButton type="button" label="Cập nhật" icon="pi pi-upload" iconPos="left">
                <!-- <i class="pi pi-cloud-upload"></i> -->
              </button>
          </div>
          <div class="p-field p-col-4">
            <button pButton type="button" label="Lưu tạm" icon="pi pi-save" iconPos="left">
              <!-- <i class="pi pi-save"></i> -->
            </button>
          </div>
          <div class="p-field p-col-4">
            <button pButton type="button" label="Tạo mới" icon="pi pi-refresh" iconPos="left" >
              <!-- <i class="pi pi-refresh"></i> -->
            </button>
          </div>
          <div class="p-field p-col-12"></div>
        </div>
      </div> 
      <div class="p-col-1"></div>
    </div>
  </section>
</body>

<!-- dialog tìm kiếm sản phẩm -->
<p-dialog header="Tìm kiếm sản phẩm" [(visible)]="displayMaximizable" [style]="{width:'65vw'}" [maximizable]="true" [baseZIndex]="1000"
[draggable]="false" [resizable]="false">
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-4">
      <label for="">Từ khóa</label>
      <input type="text" pInputText>
    </div>
    <div class="p-field p-col-6">
      <label for="">Kho xuất</label>
      <input type="text" pInputText disabled="">
    </div>
    <div class="p-field p-col-2 p-pt-5">
      <span>
      <p-checkbox></p-checkbox>
      <label for="" class="p-pl-2">Chỉ lấy kho tồn</label>
    </span>
    </div>
    <div class="p-field p-col-4">
      <label for="">Ngành hàng</label>
      <p-dropdown [options]="nganhHang" optionLabel="name"></p-dropdown>
    </div>
    <div class="p-field p-col-4">
      <label for="">Nhóm hàng</label>
      <p-dropdown [options]="nganhHang" optionLabel="name"></p-dropdown>
    </div>
    <div class="p-field p-col-4">
      <label for="">Nhà sản xuất</label>
      <p-dropdown [options]="maker" optionLabel="name"></p-dropdown>
    </div>
    <div class="p-col-10"></div>
    <div class="p-field p-col-2 p-mt-2 p-mb-4">
      <button pButton type="button" icon="pi pi-search" iconPos="left" label="Tìm kiếm"></button>
    </div>
  </div>
  <div class="bangTimKiem p-text-center">
    <p-table [value]="products">
      <ng-template pTemplate="header">
          <tr>
              <th>Mã sản phẩm</th>
              <th>Tên sản phẩm</th>
              <th>Nhóm hàng</th>
              <th>Nhà sản xuất</th>
              <th>Yêu cầu IMEI</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
          <tr>
              <td>{{product.maSanPham}}</td>
              <td>{{product.tenSanPham}}</td>
              <td>{{product.nhomHang}}</td>
              <td>{{product.nhaSanXuat}}</td>
              <td><p-checkbox></p-checkbox></td>
          </tr>
      </ng-template>
  </p-table>
</div>
</p-dialog> 

<!-- dialog 2 tìm kiếm nhân viên-->
<p-dialog header="Tìm kiếm nhân viên" [(visible)]="displayMaximizable1" [style]="{width:'65vw'}" [maximizable]="true" [baseZIndex]="1000" 
[draggable]="false" [resizable]="false">
<div class="p-fluid p-formgrid p-grid">
  <div class="p-field p-col-4">
    <label for="">Từ khóa</label>
    <input type="text" pInputText>
  </div>
  <div class="p-field p-col-1"></div>
  <div class="p-field p-col-7">
    <div class="p-grid">
      <div class="p-field p-col-3 p-pl-0 p-pt-6">
        <span>
          <p-checkbox></p-checkbox>
          <label for="" class="p-pl-1">Tên truy cập</label>
        </span>
      </div>
      <div class="p-field p-col-3 p-pt-6">
      <span>
        <p-checkbox></p-checkbox>
        <label for="" class="p-pl-1">Họ và tên</label>
      </span>
      </div>
      <div class="p-field p-col-2 p-pl-0 p-pt-6">
        <span>
          <p-checkbox></p-checkbox>
          <label for="" class="p-pl-1">Địa chỉ</label>
      </span>
      </div>
      <div class="p-field p-col-2 p-pt-6">
        <span>
          <p-checkbox></p-checkbox>
          <label for="" class="p-pl-1">Số ĐT</label>
        </span>
      </div>
      <div class="p-field p-col-2 p-pt-6">
        <span>
          <p-checkbox></p-checkbox>
          <label for="" class="p-pl-1">Email</label>
        </span>
      </div>
    </div>
  </div>
  <div class="p-field p-col-4">
    <label for="">Giới tính</label>
    <input type="text" pInputText>
  </div>
  <div class="p-field p-col-4">
    <label for="">Năm sinh</label>
    <input type="text" pInputText>
  </div>
  <div class="p-field p-col-4">
    <label for="">Khu vực</label>
    <input type="text" pInputText>
  </div>
  <div class="p-field p-col-4">
    <label for="">Phòng ban</label>
    <input type="text" pInputText>
  </div>
  <div class="p-field p-col-4">
    <label for="">Chức vụ</label>
    <input type="text" pInputText>
  </div>
  <div class="p-field p-col-4">
    <button pButton type="button" icon="pi pi-search" iconPos="left" label="Tìm kiếm" style="width:50%" class="p-mt-4 p-ml-6"></button>
  </div>
</div>
</p-dialog>

<!-- dialog giảm giá -->
<p-dialog header="Thông tin giảm giá" [(visible)]="displayDialogGiamGia" [style]="{width:'65vw'}" [maximizable]="true" [baseZIndex]="1000"
[draggable]="false" [resizable]="false">
<div class="p-fluid p-formgrid p-grid" style="font-size: .9em;">
  <div class="p-field p-col-4">
    <label for="">Barcode</label>
    <span class="p-input-icon-right">
      <input type="text" pInputText>
      <i class="pi pi-search"></i>
    </span>
  </div>
  <div class="p-field p-col-4">
    <label for="">Tổng số tiền</label>
    <input type="text" pInputText placeholder="2,000,000" disabled="" class="p-text-right">
  </div>
  <div class="p-field p-col-4">
    <label for="">Tổng điểm VT++</label>
    <input type="text" pInputText placeholder="5,745" disabled="" class="p-text-right">
  </div>
</div>
<div class="p-d-flex p-justify-end">
  <p-button (click)="displayDialogGiamGia=false" label="Đồng ý" icon="pi pi-check" iconPos="left" class="p-mr-2"></p-button>
  <p-button (click)="displayDialogGiamGia=false" label="Bỏ qua" icon="pi pi-times" iconPos="left"></p-button>
</div>
</p-dialog>

<!-- dialog tiền thanh toán -->
<p-dialog header="Thông tin giảm giá" [(visible)]="displayDialogTien" [style]="{width:'65vw'}" [maximizable]="true" [baseZIndex]="1000"
[draggable]="false" [resizable]="false">
<div class="p-fluid p-formgrid p-grid">
  <div class="p-field p-col-4">
    <label for="">Phải thanh toán</label>
    <input type="text" pInputText class="p-text-right">
  </div>
  <div class="p-field p-col-4">
    <label for="">Tiền mặt VNĐ</label>
    <input type="text" pInputText class="p-text-right">
  </div>
  <div class="p-field p-col-4">
    <label for="">Tiền qua thẻ</label>
    <input type="text" pInputText class="p-text-right">
  </div>
  <div class="p-field p-col-4">
    <label for="">Tiền thanh toán</label>
    <input type="text" pInputText class="p-text-right">
  </div>
  <div class="p-field p-col-4">
    <label for="">Còn nợ lại</label>
    <input type="text" pInputText class="p-text-right" placeholder="0">
  </div>
  <div class="p-field p-col-4">
    <label for="">Tiền thừa</label>
    <input type="text" pInputText class="p-text-right" placeholder="0">
  </div>
</div>
<div class="p-d-flex p-justify-end">
  <p-button (click)="displayDialogGiamGia=false" label="Đồng ý" icon="pi pi-check" iconPos="left" class="p-mr-2"></p-button>
  <p-button (click)="displayDialogGiamGia=false" label="Bỏ qua" icon="pi pi-times" iconPos="left" style="font-size: 0.8em;"></p-button>
</div>
</p-dialog>


<!-- dialog thông tin khách hàng -->
<p-dialog header="Thông tin khách hàng" [(visible)]="displayDialogKH" [style]="{width:'65vw'}" [maximizable]="true" [baseZIndex]="1000"
[draggable]="false" [resizable]="false">
  <p-tabView>
    <p-tabPanel header="Thông tin khách hàng VT++">
      <fieldset style="border-radius: 5px; border-color:linen; font-size: 0.9em;" class="p-mt-2 p-mb-4">
        <legend style="font-weight: bold;">Thông tin Viettel ++</legend>
        <div class="p-fluid p-formgrid p-grid">
          <div class="p-field p-col-3">
            <label for="">Viettel++ ID</label>
            <input type="number" pInputText disabled="" placeholder="0907292952">
          </div>
          <div class="p-field p-col-3">
            <label for="">Họ và tên khách hàng VT++</label>
            <input type="text" pInputText disabled="">
          </div>
          <div class="p-field p-col-3">
            <label for="">Giấy tờ pháp lý VT++</label>
            <input type="text" pInputText disabled="">
          </div>
          <div class="p-field p-col-3">
            <label for="">Số điện thoại VT++</label>
            <input type="tel" pInputText disabled="" placeholder="0907292952">
          </div>    
          <div class="p-field p-col-3">
            <label for="">Ngày sinh VT++ <span style="color: red;">*</span></label>
            <input type="date" pInputText disabled="">
          </div>
          <div class="p-field p-col-6">
            <label for="">Địa chỉ VT++<span style="color: red;">*</span></label>
            <input type="tel" pInputText disabled="">
          </div>
          <div class="p-field p-col-3">
            <label for="">Tổng điểm tích lũy</label>
            <input type="number" pInputText disabled="">
          </div>  
          <div class="p-field p-col-3">
            <label for="">OTP</label>
            <input type="number" pInputText>
          </div>
          <div class="p-col-6">
            <div class="p-grid" style="margin-top:29px;" >
              <div class="p-field p-col-4">
                <button pButton type="button" label="Xác nhận OTP" class="p-text-nowrap p-text-truncate" ></button>
              </div>
              <div class="p-field p-col-4">
                <button pButton type="button" label="Gửi lại OTP" class="p-text-nowrap p-text-truncate"></button>
              </div>
              <div class="p-field p-col-4">
                <button pButton type="button" icon="pi pi-plus" iconPos="left" label="Thêm TK VT++" disabled='false' class="p-text-nowrap p-text-truncate"></button>
              </div>
            </div>
          </div>
          <div class="p-field p-col-3 p-mt-5">
            <span>
              <p-checkbox></p-checkbox>
              <label for="checkOTP" class="p-pl-1">Khách hàng không cung cấp OTP</label>
          </span>
          </div>
        </div>
      </fieldset>
  
      <fieldset style="border-radius:5px; border-color:linen; font-size: 0.9em;">
        <legend style="font-weight: bold;">Thông tin Viettel ERP</legend>
        <div class="p-fluid p-formgrid p-grid">
          <div class="p-field p-col-8">
            <label for="">Khách hàng</label>
            <span class="p-input-icon-right">
              <input type="number" pInputText style="width: 30%;">
              <input type="text" pInputText style="width: 70%;" (click)="showDialogTimKiemKH()">
              <i class="pi pi-search" (click)="showDialogTimKiemKH()"></i>
            </span>
          </div>
          <div class="p-field p-col-4">
            <label class="p-mb-3" for="">Giới tính</label><br>
            <span>
              <input type="radio" id="male" name="gender" value="male">
              <label for="male" class="p-mr-4">Nam</label>
              <input type="radio" id="female" name="gender" value="female">
              <label for="female">Nữ</label>
            </span>
          </div>
          <div class="p-field p-col-4">
            <label for="">Giấy tờ pháp lý</label>
            <input type="number" pInputText>
          </div>
          <div class="p-field p-col-4">
            <label for="">Số điện thoại <span style="color: red;">*</span></label>
            <input type="number" pInputText>
          </div>
          <div class="p-field p-col-4">
            <label for="">Ngày sinh <span style="color: red;">*</span></label>
            <input type="date" pInputText>
          </div>
          <div class="p-field p-col-4">
            <label for="email">Email</label>
            <input type="email" pInputText>
          </div>
          <div class="p-field p-col-4">
            <label for="number">Mã số thuế</label>
            <input type="number" pInputText>
          </div>
          <div class="p-field p-col-4">
            <label for="number">CT ngân hàng</label>
            <input type="text" pInputText>
          </div>
          <div class="p-field p-col-4">
            <label for="number">Tỉnh thành phố <span style="color: red;">*</span></label>
            <p-dropdown [options]="cities" optionLabel="name" placeholder=""></p-dropdown>
          </div>
          <div class="p-field p-col-4">
            <label for="">Quận/ Huyện <span style="color: red;">*</span></label>
            <p-dropdown [options]="district" optionLabel="name" placeholder=""></p-dropdown>
          </div>
          <div class="p-field p-col-4">
            <label for="">Phường/ Xã <span style="color: red;">*</span></label>
            <p-dropdown [options]="phuongXa" optionLabel="name" placeholder=""></p-dropdown>
          </div>
          <div class="p-field p-col-12">
            <label for="diaChi">Địa chỉ liên hệ</label>
            <input type="text" pInputText>
          </div>
          <div class="p-field p-col-12">
            <label for="diaChi">Địa chỉ hóa đơn</label>
            <div class="p-inputgroup">
              <input type="text" pInputText>
              <button type="button" pButton pRipple icon="pi pi-copy"></button>
            </div>
          </div>
          <div class="p-field p-col-12">
            <label for="diaChi">Địa chỉ giao hàng</label>
            <div class="p-inputgroup">
              <input type="text" pInputText>
              <button type="button" pButton pRipple icon="pi pi-copy"></button>
            </div>
          </div>
          <div class="p-field p-col-12 p-md-4">
            <label for="">Người nhận</label>
            <input type="text" pInputText>
          </div>
          <div class="p-field p-col-12 p-md-4">
            <label for="">Số điện thoại người nhận</label>
            <p-inputNumber mode="decimal"></p-inputNumber>
          </div>
          <div class="p-field p-col-12 p-md-4">
            <label for="">Email người nhận</label>
            <input type="email" pInputText>
          </div>
          <div class="p-field p-col-12 p-md-4">
            <label for="">Chức vụ</label>
            <input type="text" pInputText>
          </div>
          <div class="p-field p-col-12 p-md-4">
            <label for="">Tên tổ chức</label>
            <input type="text" pInputText>
          </div>
          <div class="p-field p-col-12 p-md-4 p-mt-5">
            <span>
              <p-checkbox></p-checkbox>
              <label for="" class="p-pl-2">Khách hàng doanh nghiệp</label>
          </span>
          </div>
          <div class="p-field p-col-12 p-md-4">
            <label for="">Người mua</label>
            <input type="text" pInputText>
          </div>
          <div class="p-field p-col-12 p-md-4">
            <label for="">Ngân hàng</label>
            <input type="text" pInputText>
          </div>
          <div class="p-field p-col-12 p-md-4">
            <label for="">Số tài khoản ngân hàng</label>
            <p-inputNumber mode="decimal"></p-inputNumber>
          </div>
        </div>
      </fieldset>
      <div class="p-d-flex p-justify-end">
        <p-button (click)="displayDialogKH=false" label="Cập nhật" icon="pi pi-check" iconPos="left" class="p-mt-4"></p-button>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Lịch sử tích điểm ERP"></p-tabPanel>
    <p-tabPanel header="Lịch sử tiêu điểm ERP"></p-tabPanel>
    <p-tabPanel header="Lịch sử Hoàn/ Hủy điểm"></p-tabPanel>
    <p-tabPanel header="Lịch sử điểm VT++"></p-tabPanel>
  </p-tabView>
</p-dialog>

<!-- dialog tìm kiếm khách hàng -->
<p-dialog header="Tìm kiếm khách hàng" [(visible)]="displayDialogTimKiemKh" [style]="{width:'65vw'}" [baseZIndex]="10000">
  <div class="p-fluid p-formgrid p-grid" style="font-size: .9em;">
    <div class="p-field p-col-12 p-md-6">
      <label for="">Từ khóa</label>
      <input type="text" pInputText>
    </div>
    <div class="p-field p-col-12 p-md-6">
      <label for="">Loại khách hàng</label>
      <input type="text" pInputText>
    </div>
    <div class="p-field p-md-9">
      <div class="p-grid p-mt-1">
      <div class="p-field p-md-2">
        <span>
          <p-checkbox></p-checkbox>
          <label for="maKH" class="p-pl-1">Mã KH</label>
        </span>
      </div>
      <div class="p-field p-md-2">
        <span>
          <p-checkbox></p-checkbox>
          <label for="tenKH" class="p-pl-1">Tên KH</label>
        </span>
      </div>
      <div class="p-field p-md-2">
        <span>
          <p-checkbox></p-checkbox>
          <label for="diaChi" class="p-pl-1">Địa chỉ</label>
        </span>
      </div>
      <div class="p-field p-md-2">
        <span>
          <p-checkbox></p-checkbox>
          <label for="soDT" class="p-pl-1">Số ĐT</label>
        </span>
      </div>
      <div class="p-field p-md-2">
        <span>
          <p-checkbox></p-checkbox>
          <label for="email" class="p-pl-1">Email</label>
        </span>
      </div>
      <div class="p-field p-md-2 p-pr-0">
        <span>
          <p-checkbox></p-checkbox>
          <label for="maSoThue" class="p-pl-1">Mã số thuế</label>
        </span>
      </div>
    </div>
  </div>
    <div class="p-field p-md-1"></div>
    <div class="p-field p-md-2">
      <button pButton type="button" icon="pi pi-search" iconPos="left" label="Tìm kiếm"></button>
    </div>
  </div>
  <p-table>
    <ng-template pTemplate="header">
        <tr>
            <th>Mã KH</th>
            <th>Tên KH</th>
            <th>Địa chỉ</th>
            <th>Mã số thuế</th>
            <th>Điện thoại</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-employee>
        <tr>
            <td>{{employee.maKH}}</td>
            <td>{{employee.tenKH}</td>
            <td>{{employee.diaChi}}</td>
            <td>{{employee.maSoThue}}</td>
            <td>{{employee.dienThoai}}</td>
        </tr>
    </ng-template>
</p-table>
</p-dialog>

<!-- dialog thông tin khuyến mãi theo sản phẩm -->
<p-dialog header="Thông tin khuyến mãi theo sản phẩm" [(visible)]="displayDialogKMai" [style]="{width:'65vw'}" [baseZIndex]="1000">
  <!-- CTKM 1 -->
  <p style="font-weight: bold; margin-top: 0;">Tên CTKM 1</p>
  <p-tabView>
    <p-tabPanel header="Khuyến mãi">
      <div class="p-fluid p-formgrid p-grid p-mt-4">
        <div class="p-field p-col-12 p-md-2 p-mt-2">
          <span>
            <p-checkbox></p-checkbox>
            <label for="" class="p-pl-2">Giảm giá</label>
          </span>
        </div>
        <div class="p-field p-col-12 p-md-4">
          <input type="text" pInputText>
        </div>
        <div class="p-field p-col-12 p-md-6"></div>
        <div class="p-field p-col-12 p-md-2 p-mt-2">
          <span>
            <p-checkbox></p-checkbox>
            <label for="" class="p-pl-2">Tặng quà</label>
          </span>
        </div>
      </div>
      <p-table>
        <ng-template pTemplate="header">
            <tr>
                <th><p-tableHeaderCheckbox></p-tableHeaderCheckbox> </th>
                <th>Sản phẩm</th>
                <th>Số lượng</th>
                <th>Bộ sản phẩm</th>
                <th>Số lượng tồn</th>
                <th>Giá khuyến mãi</th>
            </tr>
        </ng-template>
    </p-table>
    </p-tabPanel>
    <p-tabPanel header="Chương trình không đồng thời"></p-tabPanel>
    <p-tabPanel header="Coupon không đồng thời">
      <p-table>
        <ng-template pTemplate="header">
          <tr>
            <th>Mã CT Coupon</th>
            <th>Tên CT Coupon</th>
          </tr>
        </ng-template>
    </p-table>
    </p-tabPanel>
    <p-tabPanel header="Phiếu quà tặng không đồng thời"></p-tabPanel>
  </p-tabView>
  <hr>
  <!-- CTKM 2 -->
  <p style="font-weight: bold; margin-top: 0;">Tên CTKM 2</p>
  <p-tabView>  
    <p-tabPanel header="Khuyến mãi">
      <div class="p-fluid p-formgrid p-grid p-mt-4">
        <div class="p-field p-col-12 p-md-2">
          <span>
            <p-checkbox></p-checkbox>
            <label for="" class="p-pl-2 p-mt-2">Giảm giá</label>
          </span>
        </div>
        <div class="p-field p-col-12 p-md-4">
          <input type="text" pInputText>
        </div>
        <div class="p-field p-col-12 p-md-6"></div>
        <div class="p-field p-col-12 p-md-2">
          <span>
            <p-checkbox></p-checkbox>
            <label for="" class="p-pl-2">Tặng quà</label>
          </span>
        </div>
      </div>
      <p-table>
        <ng-template pTemplate="header">
            <tr>
                <th><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
                <th>Sản phẩm</th>
                <th>Số lượng</th>
                <th>Bộ sản phẩm</th>
                <th>Số lượng tồn</th>
                <th>Giá khuyến mãi</th>
            </tr>
        </ng-template>
    </p-table>
    </p-tabPanel>
    <p-tabPanel header="Chương trình không đồng thời"></p-tabPanel>
    <p-tabPanel header="Coupon không đồng thời"></p-tabPanel>
    <p-tabPanel header="Phiếu quà tặng không đồng thời"></p-tabPanel>
  </p-tabView>
  <hr>
  <!-- CTKM 3 -->
  <p style="font-weight: bold; margin-top: 0;">Tên CTKM 3</p>
  <p-tabView>
    <p-tabPanel header="Khuyến mãi">
      <div class="p-fluid p-formgrid p-grid p-mt-4">
        <div class="p-field p-col-12 p-md-2 p-mt-2">
          <span>
            <p-checkbox></p-checkbox>
            <label for="" class="p-pl-2">Coupon</label>
          </span>
        </div>
        <div class="p-field p-col-12 p-md-4">
          <input type="text" pInputText placeholder="Tặng PMH phụ kiện 100k">
        </div>
        <div class="p-field p-col-12 p-md-6"></div>
      </div>
     
    </p-tabPanel>
    <p-tabPanel header="Chương trình không đồng thời"></p-tabPanel>
    <p-tabPanel header="Coupon không đồng thời"></p-tabPanel>
    <p-tabPanel header="Phiếu quà tặng không đồng thời"></p-tabPanel>
  </p-tabView>
  <hr>
  <div class="p-d-flex p-justify-end">
    <p-button label="Tiếp theo" icon="pi pi-check" iconPos="left" class="p-mr-2" (click)="showDialogCfKMai()"></p-button>
    <p-button (click)="displayDialogKMai=false" label="Bỏ qua" icon="pi pi-times" iconPos="left"></p-button>
  </div>
</p-dialog>

<!-- Dialog xác nhận khuyến mãi -->
<p-dialog header="Thông tin khuyến mãi theo sản phẩm" [(visible)]="displayDialogCfKMai" [style]="{width:'65vw'}" [maximizable]="true" [baseZIndex]="10000"
[draggable]="false" [resizable]="false">
  <p style="font-weight: bold;">Xác nhận khuyến mãi đã chọn</p>
  <p style="font-weight: bold;">Tặng quà</p>
  <p-table styleClass="p-datatable-gridlines">  
    <ng-template pTemplate="header">
      <tr>
          <th>Sản phẩm</th>
          <th>Số lượng</th>
          <th>Bộ sản phẩm</th>
          <th>Số lượng tồn</th>
          <th>IMEI</th>
          <th>Giá khuyến mãi</th>
      </tr>
    </ng-template>
  </p-table>
  <hr>
  <p style="font-weight: bold;">Coupon</p>
  <p-table styleClass="p-datatable-gridlines"> 
    <ng-template pTemplate="header">
      <tr>
          <th>Mã chương trình</th>
          <th>Tên chương trình</th>
          <th>Code chương trình</th>
          <th>Diễn giải</th>
          <th>IMEI</th>
          <th>Loại chương trình</th>
          <th>Hiệu lực từ</th>
          <th>Hiệu lực đến</th>
      </tr>
    </ng-template>
  </p-table>
  <hr>
  <p style="font-weight: bold;">Giảm giá</p>
  <p-table styleClass="p-datatable-gridlines p-datatable-striped"> 
    <ng-template pTemplate="header">
      <tr>
          <th>Loại giảm giá</th>
          <th>Giá trị</th>
          <th>TT yêu cầu</th>
          <th>TT giảm giá</th>
      </tr>
    </ng-template>
    <ng-template>
      <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
      </tr>
    </ng-template>
  </p-table>
  <div class="p-d-flex p-justify-end p-mt-4">
    <p-button label="Quay lại" icon="pi pi-arrow-left" iconPos="left" class="p-mr-2" (click)="displayDialogCfKMai=false"></p-button>
    <p-button label="Đồng ý" icon="pi pi-check" iconPos="left" class="p-mr-2" (click)="displayDialogCfKMai=false"></p-button>
    <p-button label="Bỏ qua" icon="pi pi-times" iconPos="left" class="p-mr-2" (click)="displayDialogCfKMai=false"></p-button>
  </div>
</p-dialog>