<!-- dialog tiền thanh toán -->
<p-dialog header="Thông tin giảm giá" [(visible)]="displayDialogTien" [style]="{width:'65vw'}" [maximizable]="true" [baseZIndex]="1000"
[draggable]="false" [resizable]="false">
<div class="p-fluid p-formgrid p-grid">
  <div class="p-field p-col-4">
    <label for="">Phải thanh toán</label>
    <input type="text" pInputText class="p-text-right">
  </div>
  <div class="p-field p-col-4">
    <label for="">Tiền mặt VNĐ</label>
    <input type="text" pInputText class="p-text-right">
  </div>
  <div class="p-field p-col-4">
    <label for="">Tiền qua thẻ</label>
    <input type="text" pInputText class="p-text-right">
  </div>
  <div class="p-field p-col-4">
    <label for="">Tiền thanh toán</label>
    <input type="text" pInputText class="p-text-right">
  </div>
  <div class="p-field p-col-4">
    <label for="">Còn nợ lại</label>
    <input type="text" pInputText class="p-text-right" placeholder="0">
  </div>
  <div class="p-field p-col-4">
    <label for="">Tiền thừa</label>
    <input type="text" pInputText class="p-text-right" placeholder="0">
  </div>
</div>
<div class="p-d-flex p-justify-end">
  <p-button (click)="displayDialogTien=false" label="Đồng ý" icon="pi pi-check" iconPos="left" class="p-mr-2"></p-button>
  <p-button (click)="displayDialogTien=false" label="Bỏ qua" icon="pi pi-times" iconPos="left"></p-button>
</div>
</p-dialog>
