<!-- Dialog xác nhận khuyến mãi -->
<p-dialog header="Thông tin khuyến mãi theo sản phẩm" [(visible)]="displayDialogCfKMai" [style]="{width:'65vw'}" [maximizable]="true" [baseZIndex]="10000"
[draggable]="false" [resizable]="false">
  <p style="font-weight: bold;">Xác nhận khuyến mãi đã chọn</p>
  <p style="font-weight: bold;">Tặng quà</p>
  <p-table styleClass="p-datatable-gridlines">  
    <ng-template pTemplate="header">
      <tr>
          <th>Sản phẩm</th>
          <th>Số lượng</th>
          <th>Bộ sản phẩm</th>
          <th>Số lượng tồn</th>
          <th>IMEI</th>
          <th>Giá khuyến mãi</th>
      </tr>
    </ng-template>
  </p-table>
  <hr>
  <p style="font-weight: bold;">Coupon</p>
  <p-table styleClass="p-datatable-gridlines"> 
    <ng-template pTemplate="header">
      <tr>
          <th>Mã chương trình</th>
          <th>Tên chương trình</th>
          <th>Code chương trình</th>
          <th>Diễn giải</th>
          <th>IMEI</th>
          <th>Loại chương trình</th>
          <th>Hiệu lực từ</th>
          <th>Hiệu lực đến</th>
      </tr>
    </ng-template>
  </p-table>
  <hr>
  <p style="font-weight: bold;">Giảm giá</p>
  <p-table styleClass="p-datatable-gridlines p-datatable-striped"> 
    <ng-template pTemplate="header">
      <tr>
          <th>Loại giảm giá</th>
          <th>Giá trị</th>
          <th>TT yêu cầu</th>
          <th>TT giảm giá</th>
      </tr>
    </ng-template>
    <ng-template>
      <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
      </tr>
    </ng-template>
  </p-table>
  <div class="p-d-flex p-justify-end p-mt-4">
    <p-button label="Quay lại" icon="pi pi-arrow-left" iconPos="left" class="p-mr-2" (click)="displayDialogCfKMai=false"></p-button>
    <p-button label="Đồng ý" icon="pi pi-check" iconPos="left" class="p-mr-2" (click)="displayDialogCfKMai=false"></p-button>
    <p-button label="Bỏ qua" icon="pi pi-times" iconPos="left" class="p-mr-2" (click)="displayDialogCfKMai=false"></p-button>
  </div>
</p-dialog>  
